body {
    font-family: 'Open Sans', sans-serif;
    color:#848384;
    font-size: 15px ;
}


#article-1{
    border: 1px solid grey;
    width: 435px;
    height: 580px;
}

#block {
    margin: 5px;
    padding: 5px;
}

#hotel-picture {
    height: 255px;
    width: 435px;
}



/* FIRST LIGN */

#firstLign{
    display: flex;
}

#title-club {
    font-size: 19px;
    color:#092a5e;
    margin-top: 0px;
}


.small-m{
    height: 20px;
    width: 20px;
    margin-top: -5px;
}


#logo-marmara {
    width: 55px;
    height: 55px;
    margin-left: 50px;
}


/* SECOND LIGN */

#secondLign{
    margin-top: -30px;
}

/* THIRD LIGN */

#thirdLign {
    display: flex;
    align-items: baseline;
}

#mark {
    color: #70cbf4;
    font-weight: bold;
}

#mark-size {
    font-size: 20px;
}

#view {
    color:#092a5e;
    margin-left: 10px;
}


/* FOURTH LIGN */
#fourthLign {
   margin-top: 12px;
}
#fourthLign p {
    margin: 0;
}


/* FIFTH LIGN */

#fifthLign {
    display: flex;
    color: #d40e14;
}

#fifthLign p {
    margin: 0;
}

#totalPrice {
    color: #d40e14;
    font-size: 33px;
    font-weight: bold;
}

#discount {
    border: 1px #d40e14 solid;
    background-color: #d40e14;
    color: white;
    font-weight: bold;
    padding: 6px 11px;
    margin-left: 20px;
}



/* SIXTH LIGN */

#price-bar {
    text-decoration: line-through;
    font-weight: bold;
}

#sixthLign p {
    margin :0;
}

/* SEVENTH LIGN */

#seventhLign {
    display: flex;
    align-items: center;
}

#seventhLign p {
    margin-left: 4px;
}

#logo3x{
    width: 35px;
    height: 35px;
}
